.category-part-icon{
    width:130px;
    height: 130px;
}

/* Custom styles for the Ag-Grid component */
.ag-theme-alpine .ag-header {
    background-color: #f0f0f0;
    font-weight: bold;
    font-size: 20px !important;
  }
  
  .ag-theme-alpine .ag-cell {
    font-size: 16px;
  }

  /* Custom styles for the Ag-Grid header font size */
.ag-header-cell-text {
    font-size: 14px; /* Adjust the font size as needed */
  }

  .ag-cell-value {
    font-size: 14px; /* Adjust the font size as needed */
    /* background-color: aliceblue; */
  }


  .row-lightgreen {
    background-color: lightgreen;
  }
  
  .row-lightblue {
    background-color: lightblue;
  }
  
  .row-lightcoral {
    background-color: lightcoral;
  }
  
  .add-part-title{
      font-family: 'Poppins';
      font-size: 25px;
  }